.signup-form{
    width:350px;
    
  }
  .registerForm{
    margin-top: 2%;
    min-height: 50vh;
    padding: 28px 3rem 1rem;
    text-align: -webkit-center;
    width: 40%;
    margin-left: 28%;
    border-radius: 16px;
  }

  .goback{
    margin-right: 40%;
  }

  .mat-raised-button {
    margin-right: 40px;
  }

  .form-group{
padding: 10px;
  }

  a{
    text-decoration: none;
  }