<!DOCTYPE html>
<html>

<body>
  <div id="page">

    <div id="header">
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">PRODUCT</a></li>
        <li><a href="#">PRICING</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>

      <img src="/assets/logo-extrapola.png">
    </div>

    <div id="main">

      <div class="main_left">

        <h1>Slogan Here</h1>
        <h3>a longer sub slogan goes right here.</h3>
      </div>

      <div class="main_right">
        <h2>H2 Text</h2>

        <p>
          <!-- <img src="/assets/Group-4-svg-1.png"> -->
          <img src="assets/output-onlinepngtools.png">
        </p>

      </div>
    </div>
  </div>
</body>

</html>