<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <!-- // Intro -->
  <header id="about">
    <nav class="display">
      <img class="logo" src="/assets/logo.png">
      <a href="#about">home</a>
      <a href="#products">products</a>
      <a href="#pricing">pricing</a>
      <a href="#contact">Contact</a>
      <a  class="login" (click)="login()">Login</a>
    </nav>
    <div class="content-wrap-1">
      <div class="products-div">
        <div class="col-narrow">
      <p class="slogan">
        Identity authentication for enterprises
      </p>
      <p class="lead" style="text-align: left; color: white;">
        Use our PAN, Aadhaar, Driving License, Voter ID or Virtual
         ID auth to onboard users and scale your product using features 
         like facial recognition for a Real-Time Auth</p>
    </div>
      <div class="col-wide">
        <img class="profile-img" src="/assets/Group-4-svg-1.png">
      </div>
    </div>
    </div>
  </header>
  <main>
      <!---About Products -->
        <section id="products" class="products">
          <div class="content-wrap">
            <h2  style="text-align:center;">Our Products</h2>

            <div class="products-div-1">
              <div class="col-narrow-1">
             <img  class="product-image-1" src="../assets/aadhar.png">        
              <h3>
                <p>Basic Aadhar Check </p>
               </h3>
               <hr class="horizontal-line-1">
               <p>
                 <span>The API allows you to use our Aadhaar Auth for onboarding Aadhaar 
                   verified users either by asking them to enter Aadhaar details or taking
                    a photo of their Aadhaar.</span>
                  </p>
                  <button mat-raised-button class="Learn-more">
                    <a  class="learn" href="#">Learn More</a>
                  </button>
             </div>
             <div class="col-narrow-2">
                <img class="product-image-2" src="../assets/e-kyc.png">
                <h3>
                  <p>Aadhaar with facial recognition</p>
                </h3>
               <hr class="horizontal-line-1">
               <p>
                 <span>This feature allows you to verify your users by Aadhaar photo
                    and verifying their selfie with the Aadhaar database using facial 
                    recognition.</span>
                  </p>
                  <button mat-raised-button class="Learn-more">
                      <a  class="learn" href="#">Learn More</a>
                    </button>
             </div>

             <div class="col-narrow-3">
                <img class="product-image-3" src="../assets/pancard.png">
                <span>
                   <h3>Pan Verification </h3>
                </span>
                <hr class="horizontal-line-1">
                <p>
                  <span>The API allows you to use our PAN Auth for onboarding verified 
                  users either by asking them to enter their PAN number or taking a photo
                   of their PAN card.</span>
                  </p>
                  <button mat-raised-button class="Learn-more">
                      <a  class="learn" href="#">Learn More</a>
                    </button>
               </div> 
              
             </div>

             <div class="products-div-1">
                <div class="col-narrow-1">
               <img  class="product-image-4" src=" ../assets/passport-icon.png">
               <span>
                 <h3>Passport Verification</h3>
               </span>
               <hr class="horizontal-line">
               <p>
                 <span>The API allows you to use our Passport Auth for onboarding Passport 
                   verified users either by asking them to enter Passport details or taking 
                   a photo of their Passport.</span>
                  </p>
                  <button mat-raised-button class="Learn-more">
                      <a  class="learn" href="#">Learn More</a>
                    </button>

               </div>

               <div class="col-narrow-2">
                  <img class="product-image-5" src="../assets/voter-id.png">
                    <span>
                      <h3> Voter-Id Verification </h3>
                    </span>
                    <hr class="horizontal-line">
                    <p>
                      <span>The API allows you to use our Voter-ID Auth for onboarding 
                      Voter-ID verified users either by asking them to enter Voter-ID 
                      details or taking a photo of their Voter-ID.</span>
                      </p>
                      <button mat-raised-button class="Learn-more">
                          <a  class="learn" href="#">Learn More</a>
                        </button>
               </div>

               <div class="col-narrow-3">
                  <img class="product-image-3" src="../assets/drivind-license.png">
                   <span>
                     <h3>Driving License Verification </h3>
                   </span>
                   <hr class="horizontal-line">
                   <p>
                     <span>The API allows you to use our Driving License Auth for 
                       onboarding DL verified users either by asking them to enter 
                       Driving License details or taking a photo of their Driving License.</span>
                      </p>
                      <button mat-raised-button class="Learn-more">
                          <a  class="learn" href="#">Learn More</a>
                        </button>
                 </div> 
               </div>

             </div>
             </section>

                 <!-- // Our Pricing -->
        <section id="pricing" class="pricing">
            <div class="content-wrap">
              <h2 style="text-align:center;">Aadhar API Pricing</h2>
  
              <!-- Pricing details. -->
              <div class="grid-container">
                <div class="item1">
                    <h4>Basic Aadhaar </h4>
                    <span class="h1">
                      <span class="pricing__dollar">₹</span>15 
                      <span class="required">*</span>
                    </span>
                    <p>The Basic Aadhaar allows you onboard users by Aadhaar Number</p>
                   <button  mat-raised-button color="primary">Try API for FREE</button> 
                   
                </div>
                <div class="item2">
                    <h4>Photobased Aadhar </h4>
                    <span class="h1">
                        <span class="pricing__dollar">₹</span>20 
                        <span class="required">*</span>
                      </span>
                      <p>The Photobased Aadhaar allows you onboard users by Photograph of Aadhaar Card</p>
                      <button  mat-raised-button color="primary">Try API for FREE</button> 
                    </div>
                <div class="item3">
                    <h4>Facial Recognition </h4>
                    <span class="h1">
                        <span class="pricing__dollar">₹</span>20 
                        <span class="required">*</span>
                      </span> 
                      <p>The Facial Recognition allows you onboard users by & Face Verfication</p>
                      <button  mat-raised-button color="primary">Try API for FREE</button> 
                    </div> 
              </div>
            </div>
              <br>
                <!--PAN API Pricing -->
              <div class="content-wrap">
              <h2 style="text-align:center;">PAN API Pricing</h2>
                <div class="grid-container-Pan-pricing">
                  <div class="item1">
                      <h4>Text Based PAN </h4>
                      <span class="h1">
                        <span class="pricing__dollar">₹</span>15 
                        <span class="required">*</span>
                      </span>  
                      <p>The TextBased PAN allows you to onboard users by manually entering details.</p> 
                      <button  mat-raised-button color="primary">Try API for FREE</button> 
                    </div>
                  <div class="item2">
                      <h4>Photobased PAN </h4>
                      <span class="h1">
                          <span class="pricing__dollar">₹</span>20 
                          <span class="required">*</span>
                        </span>
                        <p>The PhotoBased PAN allows you to onboard users by clicking photo of PAN details.</p>
                        <button  mat-raised-button color="primary">Try API for FREE</button> 
                      </div>
                </div>
              </div>

              <!--- Driving license pricing API-->
              <div class="content-wrap">
                <h2 style="text-align:center;">Driving License API Pricing</h2>
                  <div class="grid-container-Driving-pricing">
                    <div class="item1">
                        <h4>Text Based DL </h4>
                        <span class="h1">
                          <span class="pricing__dollar">₹</span>15 
                          <span class="required">*</span>
                        </span>   
                        <p>The Textbased Driving License allows you onboard users by Driving License Number</p>
                        <button  mat-raised-button color="primary">Try API for FREE</button> 
                      </div>
                    <div class="item2">
                        <h4>Photobased DL </h4>
                        <span class="h1">
                            <span class="pricing__dollar">₹</span>20 
                            <span class="required">*</span>
                          </span>
                          <p>The Photobased DL allows you onboard users by Photograph of Driving License</p>
                          <button  mat-raised-button color="primary">Try API for FREE</button> 
                        </div>
                  </div>
                </div>
                <!--- Driving Passport pricing API-->
              <div class="content-wrap">
                <h2 style="text-align:center;">Passport API Pricing</h2>
                  <div class="grid-container-Passport-pricing">
                    <div class="item1">
                        <h4>TextBased Passport </h4>
                        <span class="h1">
                          <span class="pricing__dollar">₹</span>15 
                          <span class="required">*</span>
                        </span>   
                        <p>The Textbased Passport allows you onboard users by Passport Number</p>
                        <button  mat-raised-button color="primary">Try API for FREE</button> 
                      </div>
                    <div class="item2">
                        <h4>Photobased Passport </h4>
                        <span class="h1">
                            <span class="pricing__dollar">₹</span>20 
                            <span class="required">*</span>
                          </span>
                          <p>The Photobased Passport allows you onboard users by Photograph of Passport</p>
                          <button  mat-raised-button color="primary">Try API for FREE</button> 
                        </div>
                  </div>
                </div>

                 <!--- Voter-ID pricing API-->
              <div class="content-wrap">
                <h2 style="text-align:center;">Voter-ID Pricing</h2>
                  <div class="grid-container-voterID-pricing">
                    <div class="item1">
                        <h4>TextBased Voter-ID </h4>
                        <span class="h1"> 
                          <span class="pricing__dollar">₹</span>15 
                          <span class="required">*</span>
                        </span> 
                        <p>The Textbased Voter-ID allows you onboard users by Voter-ID</p>  
                        <button  mat-raised-button color="primary">Try API for FREE</button> 
                    </div>
                    <div class="item2">
                        <h4>Photobased Voter-ID </h4>
                        <span class="h1">
                            <span class="pricing__dollar">₹</span>20 
                            <span class="required">*</span>
                          </span>
                          <p>The Photobased  Voter-ID allows you onboard users by Photograph of Voter-ID</p>
                          <button  mat-raised-button color="primary">Try API for FREE</button> 
                        </div>
                  </div>
                </div>


          </section>
      </main>

 <!-- // Footer & contact info -->
 <footer id="contact">
    <div class="content-wrap">

      <div class="products-div">
          <div class="contact-map">
      <!-- Social media links. Add or remove any networks. -->
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3782.721441541845!2d73.88677384998647!3d18.54148597331276!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c19b50d16bd7%3A0xa360bef5d51da01a!2sGulmohar+Court!5e0!3m2!1sen!2sin!4v1558152444532!5m2!1sen!2sin"
       width="500" height="300" frameborder="0" style="border:0" allowfullscreen>
      </iframe>
      </div>

      <div class="col-wide-contact-address">
          <h2 id="contact-heading">Contact us For more Query</h2>
      <hr class="contact-address-horizontal">

      <p class="contact-address">
        <b style="font-weight: 600;">Address</b>
        <br>
        1/22 Asaf Ali Road<br>
        New Delhi-110002,
        <br>
        INDIA</p>
        <hr>
        <p class="contact-address">
            <b style="font-weight: 600;">Contact details</b>
            <br> 
            Email:
          <a class="email-id" href="#">contact@gmail.com</a>
            <br>
            Phone:
            <a class="email-id" href="#">+91 1234567890</a>
            </p>
      </div>
     
      <div class="wpb_wrapper">
          <h2>Contact for more details</h2>
          <p>Fill the details below and we will contact you soon.</p>
          <h5>Note: Only for Companies</h5>

          <div class="formdiv">
              <form>
                  <p>
                    <input type="email" 
                    placeholder="Enter Company Name"></p>
                  <p>
                <input type="text" name="phoneNumber" placeholder="Enter Phone Number">
                </p>
                <p>
                <input type="text" name="cmail" placeholder="Enter Company Email">
                </p>
                <button class="submit" input type="submit" value="Submit">GET STARTED</button>
              </form>
              </div>
          </div>
          

          <div class="col-wide-smartcard-verified">
            <img class="smart-checkin" src="../../assets/smart-checkin.png">
          </div>
          

      </div> 
      </div>     
  </footer>
             
             
  </body>


  