
html {
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
  font-weight: 700;
  font-family: Lato,helvetica,arial,sans-serif;
}
h3 {
  margin: 0;
}
a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}
.content-wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.content-wrap-1 {
	    display: inline-flex;
  max-width: 950px;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.col-narrow-1{
  width: 30%;
  display:inline-block;
  height: auto;
}

.col-narrow-2{
  width: 30%;
  display:inline-block;
  height: auto;
}

.col-narrow-3{
  width: 30%;
  display:inline-block;
  height: auto;
}

.col-wide {

  width: 58%;
  height: auto;
  float: right;
  padding-left: 3px;
}


.uppercase {
  text-transform: uppercase;
}



header{
     background: #6570e4;
    color: #d8dde6;
  width:100%;
}

.main-text{
	width:70px;
	height:auto;
	
}
.logo{
	width: 110px;
    float: left;
    margin-left: 29px;
}

/* header */
header h1, header h2 {
  color: #EDF2F4;
  margin: 0;
}
.profile-img {
      border-radius: 21%;
}

/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Navigation
-------------------------*/
nav {
  text-align: center;
      background-color: white;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}



/* Products
-------------------------*/
.products {
  background: #EDF2F4;
  padding:10px;
}

.products-div{
  display: inline-block;
  width: 100%;
  padding: 10px;

}
.product-image-1{
  height: 182px;
  width:70%;
}
.product-image-2{
  height: 236px;
  width:70%;
}

.product-image-5{
  height: 201px;
  width: 70%;
}
.product-image-3{
  height: 203px;
  width: 78%; 
}


#contact {
  background-color:#ecd9f121;
  width:100%;
  height:auto;
}

.contact-map{
    width: 45%;
    display: block;
    height: auto;
    float: left;
}
.col-wide-contact-address{
  width: 53%;
  height: auto;
  float: right;
  padding-left: 3px;
}

#contact-heading{
      color: black;
}

hr{
  border-color: #ececec;  
  margin: 1.85714286em 0;
  clear: both;
}

.contact-address{
  margin-bottom: 1.85714286em;
}

.wpb_wrapper{
  margin-top: 31px;
  width: max-content;
  float: left;
  }

  .col-wide-smartcard-verified{
    width: 53%;
  height: auto;
  float: right;
  padding-left: 3px;
  }

  .smart-checkin{
    width: 453px;
    height: 400px;
    margin-top: -20px;
    position: inherit;
  }
  h5{
    text-transform: uppercase;
  color:#5f3dde;
  }


.email-id{
  font-size: 1em;
  text-decoration: underline;
  font-weight: 400;
  line-height: 1.85714286em;
  color:blue;
}
.wpb_wrapper{
width: max-content;
float: left;
}
h5{
  text-transform: uppercase;
color:#5f3dde;
}

.formdiv{
  width: 45%;
  margin-left: 100px;
}
.form{
  padding: 10px;
}
 
input{
  width: 316px;
font-size: large;
border-radius: 7px;
text-align: center;
}

.submit{
  letter-spacing: .5px;
  width: 155%;
  margin-right: -.5px;
  color: #c7dae4;
  background-color: #4481dc;
  border-radius: 19px;
  height: 40px;
}