
html {
  box-sizing: border-box;
}


body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
h1 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
}
h1 {
  font-size: 80px;
}
h2 {
  font-size: 40px;
  margin-top: 0;
  font-weight: 700;
  font-family: Lato,helvetica,arial,sans-serif;
}
h3 {
  margin: 0;
}
a {
  color: #EF233C;
}
a:hover {
  text-decoration: none;
}

.login{
  cursor: pointer;
}
.content-wrap {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.content-wrap-1 {
	      /* max-width: 950px; */
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
}
.col-narrow{
  height: auto;
  display: block;
  height: auto;
  width: 30%;
}
.col-narrow-1{
  width: 30%;
  display:inline-block;
  height: auto;

}

.col-narrow-2{
  width: 30%;
  display:inline-block;
  height: auto;

}

.col-narrow-3{
  width: 30%;
  display:inline-block;
  height: auto;
  padding:10px;

}
.slogan{
  font-size: 2.142857em;
  font-weight: 600;
  color: white;
}
.col-wide {
  width: 71%;
  margin-top: -294px;
  height: auto;
  float: right;
  padding-left: 3px;
}


.uppercase {
  text-transform: uppercase;
}



header{
     background: #6570e4;
    color: #d8dde6;
  width:100%;
}

.main-text{
	width:70px;
	height:auto;
	
}
.logo{
	width: 110px;
    float: left;
    margin-left: 29px;
}

/* header */
header h1, header h2 {
  color: #EDF2F4;
  margin: 0;
}
.profile-img {
      border-radius: 21%;
      width: 70%;
      height: auto;
      margin-top: -114px;
      margin-left: 141px;
}

/* footer */
footer {
  text-align: center;
}
.contact-info a {
  padding: 10px;
  display: inline-block;
}


/* Navigation
-------------------------*/
nav {
  text-align: center;
  background-color: white;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
}



/* Products
-------------------------*/
.products {
  background: #EDF2F4;
  padding:10px;
}

.products-div{
  display: inline-block;
  width: 100%;
  padding: 10px;
}
.products-div-1{
display: inline-block;
width: 100%;
padding: 10px;
text-align: -webkit-center;
}

.product-image-1{
  height: 182px;
  width:70%;
}
.product-image-2{
  height: 236px;
  width:70%;
}
.product-image-3{
  height: 203px;
  width: 78%; 
}
.product-image-4{
  height: 198px;
  width: 78%; 
}
.product-image-5{
  height: 201px;
  width: 70%; 
}

.product-image-6{
  height: 203px;
  width: 78%; 
}






.grid-container {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 12px;
  
}


h4{
margin: 0 0 10px 0!important;
color: #4f4f4f;
font-weight: 700!important;
}

.item1 .h1{
  font-size: 3.214286em;
  line-height: 1.101695em;
  margin-bottom: .22033898305085em;
  display: block;
  
}

.item1 .h1 .pricing__dollar{
  font-size: .51020408163265em;
  position: relative;
  bottom: 20px;
}



.required {
  color: #000;  
  font-size: 30px;
  top: -54px;
  position: relative;
  right: 22px;
}

.item2 .h1{
  font-size: 3.214286em;
  line-height: 1.101695em;
  margin-bottom: .22033898305085em;
  display: block;
  
}

.item2 .h1 .pricing__dollar{
  font-size: .51020408163265em;
  position: relative;
  bottom: 20px;
}

.item3 .h1{
  font-size: 3.214286em;
  line-height: 1.101695em;
  margin-bottom: .22033898305085em;
  display: block;
  
}

.item3 .h1 .pricing__dollar{
  font-size: .51020408163265em;
  position: relative;
  bottom: 20px;
}

.grid-container-Pan-pricing {
  display: grid;
  grid-template-columns: 45% 45% ;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  padding: 10px;
}

.grid-container-Pan-pricing > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 12px;
  
}


.grid-container-Driving-pricing {
  display: grid;
  grid-template-columns: 45% 45% ;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  padding: 10px;
}

.grid-container-Driving-pricing> div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 12px; 
}


.grid-container-Passport-pricing {
  display: grid;
  grid-template-columns: 45% 45% ;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  padding: 10px;
}

.grid-container-Passport-pricing > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 12px; 
}


.grid-container-voterID-pricing {
  display: grid;
  grid-template-columns: 45% 45% ;
  grid-column-gap: 50px;
  grid-row-gap: 10px;
  padding: 10px;
}

.grid-container-voterID-pricing > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border: 1px solid black;
  border-radius: 12px; 
}

p{
    line-height: 1.857143em;
    padding: 0;
    font-family: serif;
   font-size: medium;
}

.horizontal-line{
  border-color: #ececec;  
  margin: 1.85714286em 0;
  clear: both;
  width: 250px;
}

.horizontal-line-1{
  border-color:#a79d9d; 
  margin: 1.85714286em 0;
  width: 250px;
}

.Learn-more {
border: 1px solid #5AA1E3;
background-color: transparent;
}
.learn{
  text-decoration: none;
  color:  #242729;
}



#contact {
  background-color:#ecd9f121;
  width:100%;
  height:auto;
}

.contact-map{
    width: 45%;
    display: block;
    height: auto;
    float: left;
}
.col-wide-contact-address{
  width: 53%;
  height: auto;
  float: right;
  padding-left: 3px;
}

#contact-heading{
      color: black;
}

.contact-address-horizontal{
  border-color:#a09b9b;  
  margin: 1.85714286em 0;
  clear: both;
}

hr{
  border-color: #ececec;  
  margin: 1.85714286em 0;
  clear: both;
}

.contact-address{
  margin-bottom: 1.85714286em;
}

.wpb_wrapper{
  margin-top: 31px;
  width: max-content;
  float: left;
  }

  .col-wide-smartcard-verified{
    width: 53%;
  height: auto;
  float: right;
  padding-left: 3px;
  }

  .smart-checkin{
    width: 453px;
    height: 400px;
    margin-top: -20px;
    position: inherit;
  }
  h5{
    text-transform: uppercase;
  color:#5f3dde;
  }


.email-id{
  font-size: 1em;
  text-decoration: underline;
  font-weight: 400;
  line-height: 1.85714286em;
  color:blue;
}
.wpb_wrapper{
width: max-content;
float: left;
}
h5{
  text-transform: uppercase;
color:#5f3dde;
}

.formdiv{
  width: 45%;
  margin-left: 100px;
}
.form{
  padding: 10px;
}
 
input{
  width: 316px;
font-size: large;
border-radius: 7px;
text-align: center;
}

.submit{
  letter-spacing: .5px;
  width: 155%;
  margin-right: -.5px;
  color: #c7dae4;
  background-color: #4481dc;
  border-radius: 19px;
  height: 40px;
}